@import reset.scss


/* Set Global colors and such */


body
	font-family: Verdana,sans-serif

a
	
	color: #000099
	
#main_content
	float: left
	width: 66%
	padding: 30px

	h1
		border-bottom: 1px solid #000
		margin-bottom: 15px

	.activity
		margin-bottom: 10px
		border-bottom: 1px solid #bbb
		min-height: 80px
		
		img
			float: left

		p
			margin: 10px

		h2
			margin-left: 90px

	.app
		border: 1px solid #ccc
		padding: 10px 12px

			

#sidebar
	margin-left: 70%
	padding: 20px
	background: #EEEEEE
	
	h1
		display: inline-block
		margin-left: 10px

	#user_info
		border-bottom: 1px solid #bbb

		img
			float: left


header
	background: #512888
	padding: 15px
	padding-bottom: 0

	h1
		font-size: 20pt
		color: #fff

	nav
		margin-top: 20px

		ul li
			display: inline-block
			background: #CCCCCC
			padding: 5px
			
			a
				color: #000
				font-size: 13px
				text-decoration: none

		ul li.active
			background: #fff
	
	#user_links
		position: absolute
		right: 30px
		top: 10px
		font-size: 13px
		

		li
			display: inline-block
			color: #fff
			margin-right: 7px
			
			a
				color: #fff
				text-decoration: underline

