@import reset.scss


/* Set Global colors and such */


body
    font-family: Verdana,sans-serif

a
    text-decoration: none
    color: #000
    


#main_content
    float: left
    width: 66%
    
#sidebar
    margin-left: 70%
    background: #EEEEEE
    
header
    background: #512888
    padding: 15px
    padding-bottom: 0

header h1
    font-size: 20pt
    color: #fff

header nav
    margin-top: 20px

nav ul li
    display: inline-block
    background: #CCCCCC
    padding: 5px
    
nav ul li a
    color: #000
    font-size: 13px