<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Central Station | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylsheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url newsfeed.views.dashboard %}">Central Station</a>
          <div class="nav-collapse">
            <ul class="nav">
              
              <ul class="nav">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                  		<li class="nav-header">Active Projects</li>
                      
                      <li><a href="{{ app.get_absolute_url }}">FotoChest</a></li>
                      
                      <li class="divider"></li>
                      <li><a href="{% url projects.views.add_application %}">Add Project</a></li>
                  </ul>
                  </li>
              </ul>
              
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">All Users</a></li>
                      <li class="divider"></li>
                      <li><a href="#myModal" data-toggle="modal">Add Users</a></li>
                  </ul>
              </li>
              <li><a href="{% url core.views.change_settings %}">Settings</a></li>
            </ul>
            
            
            <ul class="nav pull-right user">
                <li class="dropdown">
                    
                    <img src="http://dummyimage.com/25x25" class="profile_img pull-left">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">dstegelman
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url profile.views.settings %}">Personal Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url django.contrib.auth.views.logout %}">Sign out</a></li>
                    </ul>
                </li>
            </ul>
            
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <h4 class="alert-heading">Error</h4>
        <p>This is an error message.</p>
        </div>
        <div class="row">
            <div class="span9">
              <h1>Dashboard</h1>
              
              <article class="activity">
                  <img src="http://dummyimage.com/45x45">
                  <h2>Derek Stegelman</h2>
                  
                  <p>Added a new <a href="{{ activity.issue.get_absolute_url }}">issue #{{ activity.issue.id }}</a> in <a href="{{ activity.application.get_absolute_url }}">{{ activity.application.name }}</a></p>
                  <span class="date">March 12, 2012</span>
                  
              </article>
              <article class="activity">
                  <h2>Derek Stegelman</h2>
              
                  <p>Committed to <a href="{{ activity.application.get_absolute_url }}">Fotochest</a></p>
                  
                  <span class="date">March 23, 2012</span>
              </article>
              
            </div>
            <div class="span3">
                <div class="well">
                <h2>Something</h2>
                </div>
            </div>
        </div>
        
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
