<!DOCTYPE html>
<html>
    <head>
        <title>Central Station - Dashboard</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/modernizr.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="top_header">
            <h1>Stegelman Software Inc</h1>
            <select name="project_dropdown">
            <option>Project 1</option>
            <option>Project 2</option>
            </select>
        </div>
        <header id="main_header">
            <h1>Central Station</h1>
            
            <nav class="main_navigation">
                <ul>
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Issues</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
            <ul id="user_links">

                <li>Welcome, {{ user.username }}</li>
                <li><a href="{% url profile.views.settings %}">Personal Settings</a></li>
                <li><a href="{% url django.contrib.auth.views.logout %}">Sign Out</a></li>
                
            </ul>
            <form method="GET" action="#">
                <input type="search" name="search" id="search_input">
                <input type="submit" class="button">
            </form>
        </header>
        <section class="main">
        
        </section>
        
    </body>
</html>