{% extends "base.html" %}
{% block main_content %}
   <h1>Defect List: Scholarship All</h1>





<!--<form id="DefectList_view" name="DefectList_view" action="/DefectTracker/forms/DefectList_view.action" method="post"></form>-->
<input name="patchId" value="" id="DefectList_view_patchId" type="hidden">

<div id="listing">
    <!-- Error messages, if any -->
    
    
    

    <div id="listing_header">
        <select name="currentFilter" onchange="if (this.selectedIndex != 0) { changeFilter(this.options[this.selectedIndex].value); }">
            <option></option>
            
            <option value="47458" selected="selected">
                Scholarship All
            </option>
            
            <option value="47459">
                Scholarship work
            </option>
            
            <option value="46623">
                Watch List
            </option>
            
        </select>

        <ul>
        
            <li><a href="javascript:editFilter(47458);">Edit Filter</a></li>
             <li><a href="javascript:exportFilter(47458);">Export Filter</a></li>
        
             <li><a href="javascript:manageFilters();">Manage Filters</a></li>
            <li><a href="javascript:createFilter();">New Filter</a></li>
           
            
            

            
                
                
                    <li><a href="javascript:addEmailNotify(47458);">Add Notification</a></li>
                
            

            <li class="f_right">Viewing {{ defect_count }} Defects</li>
            
            <li class="f_right"><a href="#" onclick="clearSort();">Clear Sort</a></li>
            
        </ul>
    </div><!-- end #listing_header -->

    <table class="data_table">

    <thead><tr class=""><th class="center">

                <input name="select" class="checkbox" type="checkbox">
                
            </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C1&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=defectId&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Defect #<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C1&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>
<th>

                    
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C2&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=defectType&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Type<sup></sup></a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C2&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                    
                    
                </th>
<th>

                    
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C3&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=stateLabel&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">State<sup></sup></a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C3&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                    
                    
                </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C4&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=priority&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Priority<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C4&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>
<th class="description">

                   
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C5&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=description&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Description<sup></sup></a>
                        <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C5&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                        <span style="width:250px;">&nbsp;</span>
                    
                    
                </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C6&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=defectDate&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Created<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C6&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C7&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=systemName&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">System<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C7&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C8&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=releaseVersion&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Release<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C8&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>
<th>

                
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveLeft.action?commandArgs.colId=C9&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> « </a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_multiSort.action?commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.property=creatorName&amp;commandArgs.componentKey=listing&amp;commandArgs.ascending=true&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp">Created By<sup></sup></a>
                    <a href="https://defect.ome.ksu.edu/DefectTracker/tags/DataTableTagCommands_moveRight.action?commandArgs.colId=C9&amp;commandArgs.handler=ome.struts2.tags.controls.DbStateHandler&amp;commandArgs.componentKey=listing&amp;commandArgs.pageHandler=defect.web.PageHandler&amp;nextPage=/view/DefectListNew.jsp"> » </a>
                
                
            </th>

</tr></thead>

    <tbody>
        {% for defect in defects %}
        <tr class="{% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
            <td class="center">
                <input name="defectIds" value="{{ defect.id }}" id="defectIds-1" type="checkbox">
                <label for="defectIds-1" class="checkboxLabel"></label>
                
            </td>
<td class="center">
    <a href="{{ defect.get_absolute_url }}" class="barcode priority_1">                            
<div class="barcode priority_1">       
            <span class="on"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="off"></span>
            <span class="off"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="off"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="off"></span>
            <span class="off"></span>
            <span class="on"></span>
            <span class="on"></span>
            <span class="off"></span>
    <p>{{ defect.id }}</p>
</div>
                    </a>          
            </td>
<td class="nowrap">
                        <span>{{ defect.get_type_display }}</span>
                    
                </td>
<td class="nowrap">
{{ defect.get_status_display }}
                </td>
<td>

                    <span class="Medium">{{ defect.get_priority_display }}</span>
                
            </td>
<td class="description">

                   
                    
                        <a href="{{ defect.get_absolute_url }}">
                            {{ defect.description|truncatewords:20 }}
                        </a>
                    
                </td>
<td>

                
                {{ defect.creation_date }}
            </td>
<td>

                
                {{ defect.application.name }}
            </td>
<td>

                
                {{ defect.version.number }}
            </td>
<td>

                
                {{ defect.creator.first_name }} {{ defect.creator.last_name }}
            </td>

</tr>

{% endfor %}

    

<!-- End of test -->
        
</tbody>
</table>
</div><!-- end #listing -->
</form>

{% endblock %}