{% extends "base.html" %}
{% block main_class %}span9{% endblock main_class %}
{% block sidebar %}
    <h4>Profile Image</h4>
    <img src="{% get_gravatar request.user.email 160 %}" width="160" class="img-rounded">
    <p>Change your avatar at <a href="https://en.gravatar.com/">Gravatar</a>.</p>
    <h4>Your Organizations</h4>
    <ul class='unstyled'>
        {% for team in teams %}
        <li><a href="{{ team.team.organization.get_absolute_url }}">{{ team.team.organization }} - {{ team.team }}</a></li>
        {% endfor %}
    </ul>
{% endblock sidebar %}
{% block main_content %}
    <h3>Your Profile</h3>
    {% load crispy_forms_tags %}
    <form action="." method="POST">
        {% csrf_token %}
        {% crispy profile_form %}
        <input type='submit' value='Update Profile' class="btn btn-primary">
    </form>
{% endblock main_content %}