{% extends "issues/project_base.html" %}
{% block main_content %}
{{ block.super }}
{{ form.errors }}

<article class="add_issue">
<h2>Add Issue</h2>
<form method="POST" action=".">{% csrf_token %}
    {{ form.url.label_tag }}
    <input type="text" class="span9" name="url">
    {{ form.description.label_tag }}
    <textarea class="span9" name="description" rows="8"></textarea>
    <div class="form-inline">
    {{ form.type.label_tag }}
    {{ form.type }}
    {{ form.priority.label_tag }}
    {{ form.priority }}
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit Issue">
   </form>
</article>

{% endblock %}

