{% extends "defects/base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.min.css">
{{ block.super }}
{% endblock %}
{% block main_content %}
{{ form.errors }}
<form method="POST" action=".">{% csrf_token %}
<article class="defect_detail">
{{ form }}
    <h2>Defect {{ defect.id }} is <span>{{ defect.status }}</span></h2>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ defect.description }}</textarea>
    <label for="url">URL</label>
    <input type="text" id="url" name="url" value="{{ defect.url }}">
</article>

{% endblock %}

{% block sidebar %}
<label for="project">Project</label>
<select>
    <option>Fuck</option>
    <option>Fuck It</option>
</select>

<label for="version">Version</label>
<select>
    <option>Fuck</option>
    <option>Fuck It</option>
</select>
<input type="submit" value="Create">
{% endblock %}

</form>