{% extends "issues/base.html" %}
{% block main_content %}
{{ block.super }}
{{ form.errors }}

<article class="add_issue">
<h2>Add Issue</h2>
<form method="POST" action=".">{% csrf_token %}
    
    {{ form.description.label_tag }}
    <textarea class="span9" name="description" rows="8"></textarea>
    {{ form.url.label_tag }}
    <input type="text" class="span9" name="url">
    {{ form.file.label_tag }}
    {{ form.file }}
    <div class="form-inline clearfix">
        <div class="inline-field">
    {{ form.type.label_tag }}
    {{ form.type }}
    </div>
    <div class="inline-field">
    {{ form.priority.label_tag }}
    {{ form.priority }}
    </div>
    </div>
    <div class="form-inline clearfix">
        <div class="inline-field">
    {{ form.milestone.label_tag }}
    {{ form.milestone }}
    </div>
    <div class="inline-field">
    {{ form.assigned_to.label_tag }}
    {{ form.assigned_to }}
    </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit Issue">
   </form>
</article>

{% endblock %}

