{% extends "issues/project_base.html" %}



{% block main_content %}
{{ block.super }}
<form method="post" action=".">
<article class="defect_detail">
    <input type="submit" value="Save" class="btn btn-primary">
    <input type="button" value="Save and Exit" class="btn">
    <h2>Defect {{ defect.id }} is <span class="label {% if defect.status == "open" %}label-success{% endif %}">{{ defect.status }}</span></h2>
    <div class="form_item">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="span9" rows="8">{{ defect.description }}</textarea>
    </div>
    <div class="defect_detail">
        <label for="url">URL</label>
        <input type="text" id="url" name="url" value="{{ defect.url }}" class="span9">
    </div>
</article>

{% endblock %}

{% block sidebar %}

{{ form.milestone.label_tag }}
{{ form.milestone }}

{{ form.type.label_tag }}
{{ form.type }}
{{ form.priority.label_tag }}
{{ form.priority }}

<h3>Issue Created</h3>
<span>{{ defect.creation_date }}</span>
<h3>Modified Date</h3>
<span>{{ defect.last_modified_date }}</span>
</form>
{% endblock %}

