

<h2>Issues<a href="{% url issues.views.add_defect app_slug=app.slug %}" class="btn btn-success btn-small pull-right"><i class="icon-plus icon-white"></i>Add Issue</a></h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Issue #</th>
        <th>Status</th>
        <th>Type</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Assigned</th>
        
    </tr>
    </thead>
    <tbody>
    {% for issue in issues %}
    {% include "issues/issue_list_item.html" %}
    {% endfor %}
    </tbody>
</table>

