<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} issue" id="issue_{{ issue.id }}">
    <td width="2%">
        <input type="checkbox" name="check_{{ issue.id }}" id="check_{{ issue.id }}">
    </td>
    <td width="5%">{{ issue.id }}</td>
    <td width="5%"><span class="label {% if issue.status == "open" %}label-success{% endif %}{% if issue.status == "in-progress" %}label-info{% endif %}">{{ issue.get_status_display }}</span></td>
    <td width="5%"><span class="label {% if issue.type == "bug" %} label-important {% endif %}{% if issue.type == "feature" %}label-info{% endif %}">{{ issue.get_type_display }}</span></td>
    <td width="40%"><a href="{{ issue.get_absolute_url }}">{{ issue.description|truncatewords:18 }}</a></td>
    <td width="5%"><span class="label {% if issue.priority == "critical" %}label-important {% endif %}{% if issue.priority == "high" %}label-warning{% endif %}">{{ issue.get_priority_display }}</span></td>
    <td width="10%">{{ issue.creator.username }}</td>
</tr>