



<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Issue #</th>
        <th>Status</th>
        <th>Type</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Assigned</th>
        
    </tr>
    </thead>
    <tbody>
    {% for issue in issues.object_list %}
    {% include "issues/issue_list_item.html" %}
    {% endfor %}
    
    </tbody>
</table>
<div class="pagination">
        <ul>
        {% if issues.has_previous %}
          <li class="disabled"><a href="?page={{ issues.previous_page_number }}">«</a></li>
          
          <li><a href="?page={{ issues.previous_page_number }}">{{ issues.previous_page_number }}</a></li>
          {% endif %}
          <li class="active"><a href="?page={{ issues.number }}">{{ issues.number }}</a></li>
          {% if issues.has_next %}
          <li><a href="?page={{ issues.next_page_number }}">{{ issues.next_page_number }}</a></li>
          <li><a href="?page={{ issues.next_page_number }}">»</a></li>
        {% endif %}
        </ul>
      </div>



