{% extends "issues/base.html" %}
{% block extra_js %}
<script type="text/javascript">
$(function() {

    $("#comment-form").hide();
    $("#add-comment").click(function() {
        $("#comment-form").slideToggle();
    });
    
});
</script>

{% endblock %}
{% block main_content %}
{{ block.super }}
<form method="post" action=".">{% csrf_token %}
<article class="defect_detail">
    <input type="submit" value="Save" class="btn btn-primary pull-right">
    <input type="button" value="Save and Exit" class="btn btn-success pull-right">
    {% if defect.status == "open" %}
    <a href = "{% url issues.views.move_to_in_progress issue_id=defect.id app_slug=defect.application.slug %}" class="btn btn-primary pull-right">Move to In Progress</a>
    {% endif %}
    <a href="{% url issues.views.close_issue app_slug=defect.application.slug issue_id=defect.id %}" class="btn btn-danger pull-right">Close</a>
    
    <h2>Defect {{ defect.id }} is <span class="label {% if defect.status == "open" %}label-success{% endif %}{% if defect.status == "closed" %}label-important{% endif %}{% if defect.status == "in-progress" %}label-info{% endif %}">{{ defect.get_status_display }}</span></h2>
    <div class="form_item">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="span9" rows="8">{{ defect.description }}</textarea>
    </div>
    <div class="defect_detail">
        <label for="url">URL</label>
        <input type="text" id="url" name="url" value="{{ defect.url }}" class="span9">
    </div>
    {% if defect.file %}
    <span class="label label-important">File Attached</span>
    <a href="{{ defect.file.url }}">{{ defect.file }}</a>
    {% endif %}
    </form>
    <h3>Comments</h3>
    <a class="pull-left" id="add-comment">Add Comment</a>
    <div class="clearfix"></div>
    <form method="post" action="{% url issues.views.handle_comment %}" id="comment-form">{% csrf_token %}
    <input type="hidden" value="{{ defect.id }}" name="issue_id">
    {{ comment_form.comment.label_tag }}
    <textarea name="comment" id="comment" class="span9" rows="8"></textarea>
    {{ comment_form.file.label_tag }}
    {{ comment_form.file }}
    <div class="clearfix"></div>
    <input type="submit" class="btn btn-primary" value="Add Comment">
    </form>
    <div class="clearfix"></div>
    <div class="comments">
    {% for comment in comments %}
    <div class="comment {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <span>{{ comment.creation_date_time }} by <span class="label {% if comment.is_issue_author %}label-success{% else %}label-info{% endif %}">{{ comment.author.username }}</span></span>
        <p>{{ comment }}</p>
        {% if comment.file %}
        <span class="label label-important">File Attached</span>
        <span><a href="{{ comment.file.url }}">{{ comment.file }}</a></span>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    
</article>

{% endblock %}

{% block sidebar %}


{{ form.milestone.label_tag }}
{{ form.milestone }}

{{ form.type.label_tag }}
{{ form.type }}
{{ form.priority.label_tag }}
{{ form.priority }}

<h3>Issue Created</h3>
<span>{{ defect.creation_date }}</span>
<h3>Modified Date</h3>
<span>{{ defect.last_modified_date }}</span>

{% endblock %}

