{% extends "issues/base.html" %}
{% block issues_menu_item %}{% endblock %}
{% block milestones_menu_item %}class="active"{% endblock %}
{% block main_content %}
{{ block.super }}

<h2>Milestones<a href="{% url issues.views.add_milestone app_slug=app.slug %}" class="btn btn-success btn-small pull-right"><i class="icon-plus icon-white"></i>Add Milestone</a></h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Milestone #</th>
        <th>Name</th>
        <th>Progress</th>
        <th>Due Date</th>
        
    </tr>
    </thead>
    <tbody>
    {% for milestone in milestones %}
    <tr>
        <td><input type="checkbox" name="check_{{ milestone.id }}" id="check_{{ milestone.id }}"></td>
        <td>{{ milestone.id }}</td>
        <td>{{ milestone.name }}</td>
        <td>
            <div class="progress {% if milestone.complete %}progress-success{% else %}progress-info{% endif %}
            progress-striped active">
            <div class="bar"

            style="width: {{ milestone.progress }}%;"></div>
            </div>
        </td>
        <td>{{ milestone.due_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}