{% extends "issues/base.html" %}
{% block main_content %}
{{ block.super }}
<h2>Issues</h2>
<ul class="nav nav-pills pull-left">
        <li {% if all %}class="active"{% endif %}><a href="{% url issues.views.no_filter_app_issues app_slug=app.slug %}">All</a></li>
        <li {% if open %}class="active"{% endif %}><a href="{% url issues.views.open_app_issues app_slug=app.slug %}">Open</a></li>
        <li {% if closed %}class="active"{% endif %}><a href="{% url issues.views.closed_app_issues app_slug=app.slug %}">Closed</a></li>
        
      </ul>
      <a href="{% url issues.views.add_defect app_slug=app.slug %}" class="btn btn-success btn-small pull-right"><i class="icon-plus icon-white"></i>Add Issue</a>
      <div class="clearfix"></div>
{% include "issues/issue_list.html" %}
{% endblock %}
{% block sidebar %}
<form method="post" action=".">{% csrf_token %}
<h2>Filters</h2>
<h3>Priority</h3>
<select name="filter_priority">
{% for p in issue_priorities %}
<option value="{{ p.0 }}">{{ p.1 }}</option>
{% endfor %}
</select>
<h3>Issue Status</h3>
<select name="filter_status">
{% for status in status_choices %}
<option value="{{ status.0 }}">{{ status.1 }}</option>
{% endfor %}
</select>
<h3>Issue Type</h3>
<select name="filter_type">
{% for type in issue_types %}
<option value="{{ type.0 }}">{{ type.1 }}</option>
{% endfor %}
</select>
<h3>Milestone</h3>
<select name="filter_milestone">
{% for milestone in app.milestone_set.all %}
<option value="{{ milestone.id }}">{{ milestone.name }}</option>
{% endfor %}
</select>
<br/>


<input type="submit" class="btn btn-primary" value="Filter">
<a href="#" class="btn btn-success">Filter and Save</a>
</form>
{% endblock %}