{% extends "base.html" %}
{% block main_title %} - {{ account }} {% endblock main_title %}
{% block title %}Central Station | {{ account }} | {% block page_title %}{% endblock page_title %}{% endblock title %}
{% block sidebar_super %}{% endblock sidebar_super %}
{% block added_nav %}
<li><a href="{% url account_home account=account_slug %}">Current Sprints</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Sprints
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {% for sprint in account_sprints %}
        <li><a href="{{ sprint.get_absolute_url }}">{{ sprint.team }}</a></li>
        {% endfor %}
        <li class="divider"></li>
        <li><a href="#">Start New Sprint</a></li>
    </ul>
</li>
<li><a href="{% url backlog account=account_slug %}">Backlog</a></li>
{% endblock added_nav %}