{% extends "base.html" %}

{% block sidebar_super %}{% endblock sidebar_super %}
{% block main_content %}
<form method="POST" action="{% url django.contrib.auth.views.login %}?next=/">{% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="inputUsername">Username</label>
        <div class="controls">
            <input type="text" id="inputUsername" placeholder="Username" name="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
        </div>
    </div>
    <input type="submit" value="Log In" class="btn btn-primary">
</form>
{% endblock main_content %}