{% load gravatar_tags %}
<article class="activity">
<img src="{% get_gravatar activity.user.email 45 %}">
<h2>{{ activity.user.first_name }} {{ activity.user.last_name }}</h2>
{% if activity.issue %}
<p>Added a new <a href="{{ activity.issue.get_absolute_url }}">issue #{{ activity.issue.id }}</a> in <a href="{{ activity.application.get_absolute_url }}">{{ activity.application.name }}</a></p>
{% else %}
<p>{{ activity.action }} <a href="{{ activity.application.get_absolute_url }}">{{ activity.application.name }}</a></p>
{% endif %}
<span class="date">{{ activity.date_action }}</span>
</article>