/* 
    Document   : common
    Created on : Oct 2, 2010, 10:23:31 PM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/

/* Layout */

.sidebar
{
    width:300px;
    float:left;
}

.defectContent
{
    float:right;
    width:78%;
}


/* Buttons */

a.button
{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:center;
    display:inline-block;
    background:#000;
    padding:7px;
}

a.button span
{
    color:#fff;
}

/* End Buttons */

/* Default Form Behavior */

.form .formItem label
{
    display:block;
}

.form .formItem input
{
    display:block;
    width:100%;
}

/* End Forms */