@import url("html5.css");
@import url("normalize.css");

/* Layout */

#top_header
{
    margin-bottom: -21px;
    background: #333333;
}

#top_header h1
{
    font-size: 12px;
    display: inline-block;
    color: #fff;
}

#top_header select
{
    float: right;
}

#main_header
{
    background: #8c1e21;
    position: relative;
    color: #fff;
}

.main_navigation li,
#user_links li
{
    display: inline-block;
}

#main_header .main_navigation li
{
    position: absolute;
    left: 10px;
}

#main_header #user_links
{
    position: absolute;
    right: 0;
    top: 10px;
}