form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form input[type="tel"], form textarea {
    border: 1px solid #C9D0D6;
    border-radius: 3px 3px 3px 3px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    outline: medium none;
    padding: 8px 10px 7px;
    width: 76%;
}
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="url"]:focus, form input[type="tel"]:focus, form textarea:focus {
    border: 1px solid #99A2AA;
    box-shadow: 0 0 4px #99A2AA;
}