{% extends "blog/base.html" %}

{% block main_content %}
{% for post in blog_posts.object_list %}

<h3>{{ post.title }}</h3>
<p>{{ post.content }}</p>
{% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if blog_posts.has_previous %}
            <a href="?page={{ blog_posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blog_posts.number }} of {{ blog_posts.paginator.num_pages }}.
        </span>

        {% if blog_posts.has_next %}
            <a href="?page={{ blog_posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
