/* 
    Document   : common
    Created on : Oct 2, 2010, 10:23:31 PM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/
/* K-State color scheme

* Deep Purple 500078
* lighter purple 67009C
* gray/silver 6E6E6E
* "white" F8F8FF

*/


/* Layout */

body
{
    font-family:Neucha, Arial;
}



/* Header */

.header
{
    /* top color #8c00b5, bottom is background */
    padding-top:14px;
    padding-left:11px;
    margin-bottom:15px;
    position: relative;
    background: #500078;
    height: 120px;
    border-bottom: 10px solid #67009C;
}



.header h1
{
    display:inline-block;
    font-size:20pt;
    color:#fff;
}

.header a.createDefect
{
    margin-left:15px;
    width:150px;
}

.header div.search
{
    right: 10px;
    top:40px;
    position: absolute;
}

.header input.search
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    font-size:12pt;
    border:1px;
    vertical-align:middle;
}

.header ul
{
    margin-top:20px;
}

.header ul li
{
    display:inline;
    margin-right:7px;
    background:#dddddd;
    border-right:1px solid #000;
    border-left:1px solid #000;
    padding: 5px 9px 0px 9px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    
}

.header ul li.active
{
    background:#fff;
}

.header a.help:link,
.header a.help:visited,
.header a.help:active,
.header a.help:hover
{
    position:absolute;
    color:#fff;
    top:10px;
    right:10px;
}

.header a.help:hover
{
    text-decoration: underline;
}


/* End Header */

.mainContent
{
    width:66%;
    float:left;
    padding-right: 15px;
    padding-left:15px;
}

.mainContent h2,
.sidebar h2
{
    border-bottom:1px solid #ccc;
    padding-bottom:2px;
    margin-bottom:10px;
}

/* End Content */

/* Sidebar */

.sidebar
{
    float: right;
    width: 370px;
}

/* Footer */

.mainFooter
{
    background:#ddd;
    height:40px;
    
}

.mainFooter p
{
    margin-left:25px;
    padding-top:20px;
}

/* Boxes */

.box
{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding:7px;
    margin-bottom:10px;
    position:relative;
}

.box.grey
{
    background:#eee;
}

/* Graph */

.graph
{
    border:3px solid #ccc;
    margin-bottom:7px;
}

.graph .bar
{
    width:75%;
    height:25px;
    background: #642391;
    
}

/* Buttons */

a.button
{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-align:center;
    display:inline-block;
    background:#000;
    padding:7px;
    cursor:pointer;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
}

a.button span
{
    color:#fff;
}

a.button.createDefect
{
    background:#4FDB07;
}


/* End Buttons */

/* Default Form Behavior */

.form .formItem label
{
    display:block;
}

.form .formItem input,
.form .formItem select
{
    display:block;
    width:100%;
}



/* End Forms */