/* 
    Document   : style
    Created on : Oct 2, 2010, 10:23:20 PM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/

@import url("reset.css");
@import url("common.css");

/* Recent Activity */



.box span.time
{
    position: absolute;
    top:10px;
    right:20px;
    font-size:9pt;
}

.box .details
{
    color:#bbb;
    font-size:10px;
}

