body
{
    text-align: center;
    font-size: 14px;
    font-family: "Marvel";
}

.wrapper,
header
{
    text-align: left;
    width: 1060px;
    margin: 0 auto;
}

.wrapper
{
    margin-top: 20px;
}

header h1
{
    display: inline-block;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 18px;
}

header form
{
    float: right;
}

header form input[type="search"]
{
    border-radius: 5px;
    width: 280px;
}

.other_header
{
    background: #512888;
    padding-top:20px;
}


.main
{
    
    width: auto;
    padding-right: 300px;
}

.main h2
{
    font-size: 18px;
    margin-bottom: 8px;
}

.sidebar
{
    float:right;
    width: 220px;
    
}

nav.main_navigation ul li
{
    display: inline-block;
    margin-right: 14px;
    padding-bottom: 6px;
}

nav.main_navigation li a
{
    color: #fff;
    text-decoration: none;
}

nav.main_navigation li.active a
{
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    color: #512888;
}

/* Table Styles */

table td
{
    padding: 5px 7px;
    border-bottom: 1px solid #eaeaea;
}

table tr th
{
    padding: 10px 7px;
}

table tr.odd
{
    background-color: #fbfbfb;
}

table tr.heading
{
    background-color: #f3f3f3;
}

table tr:hover
{
    background-color: #cbebf9;
    cursor: pointer;
}

table span.status
{
    border-radius: 5px;
    padding: 2px 20px;
}

table span.close
{
    background: #ebe9ea;
    color: #78756c;
}

table span.open
{
    background: #e5eef7;
    color: #566eaa;
}

table span.high
{
    color:#FF0000;
}

table span.low
{
    color: green;
}

/* Issues */




