<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{% block main_title %}Central Station - Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/core.min.css">
        
        {% block extra_head %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
    </head>
    <body>
        <section class="container_12">
            <header>
                <h1>{% block project_title %}Central Station{% endblock %}</h1>
                {% block main_nav %}
                <nav>
                    <ul>
                        <li {% block dashboard_menu_item %}class="active"{% endblock %}><a href="{% url newsfeed.views.dashboard %}">Dashboard</a></li>
                        <li {% block project_menu_item %}{% endblock %}><a href="{% url projects.views.app_list %}">Projects</a></li>
                        <li {% block repos_menu_item %}{% endblock %}><a href="{% url browser.views.repos %}">Repos</a></li>
                        <li {% block defects_menu_item %}{% endblock %}><a href="{% url defects.views.all_defects %}">Defects</a></li>
                        <li {% block users_menu_item %}{% endblock %}><a href="{% url profile.views.all_users %}">Users</a></li>
                        <li {% block settings_menu_item %}{% endblock %}><a href="#">Settings</a></li>
                    </ul>
                </nav>
                {% endblock %}
                <ul id="user_links">
                    <li>Welcome, {{ user.username }}</li>
                    <li><a href="#">Personal Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </header>
            <section id="main_content">
            {% block main_content %}{% endblock %}
            </section>
            <aside id="sidebar">
            {% block sidebar %}
                <article id="user_info">
                    <img src="http://dummyimage.com/75x75">
                    <h1>John Doe</h1>
                    <span>Developer</span>
                </article>
            {% endblock %}
            </aside>
            <footer>
                
            </footer>
        </section>
    </body>
</html>