<!DOCTYPE html>
<html class="no-js">
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/core.min.css">
        
        {% block extra_head %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
    </head>
    <body>
        <section class="container_12">
            <header>
                <h1>Central Station</h1>
                {% block main_nav %}
                <nav>
                    <ul>
                        <li class="active"><a href="#">Dashboard</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Repos</a></li>
                        <li><a href="#">Defects</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
                {% endblock %}
                <ul id="user_links">
                    <li>Welcome, {{ request.user.username }}</li>
                    <li><a href="#">Personal Settings</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </header>
            <section id="main_content">
            {% block main_content %}{% endblock %}
            </section>
            <aside id="sidebar">
                <article id="user_info">
                    <img src="http://dummyimage.com/75x75">
                    <h1>John Doe</h1>
                    <span>Developer</span>
                </article>
            </aside>
            <footer>
                
            </footer>
        </section>
    </body>
</html>