/* 
    Document   : purple
    Created on : Oct 7, 2010, 9:47:42 PM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/


.header
{
    /* top color #8c00b5, bottom is background */

    background:#642391;
    background: -moz-linear-gradient(top, #8c00b5, #642391);
    background: -webkit-gradient(linear, left top, left bottom, from(#8c00b5), to(#642391));

}
