{% extends "base.html" %}

{% block project_title %}{{ app.name }}{% endblock %}
{% block extra_user_links %}<a href="{% url newsfeed.views.dashboard %}">Dashboard</a>{% endblock %}
{% block main_nav %}

<nav>
    <ul>
        <li {% block dashboard_menu_item %}class="active"{% endblock %}><a href="{% url projects.views.app app_slug=app.slug %}">Project Home</a></li>
        {% if app.enable_defects %}
        <li {% block defects_menu_item %}{% endblock %}><a href="{% url defects.views.open_app_defects app_slug=app.slug %}">Defects</a></li>
        {% endif %}
        <li {% block repos_menu_item %}{% endblock %}><a href="{% url browser.views.view_app_repo app_slug=app.slug %}">Repository</a></li>
        {% if app.enable_forum %}
        <li {% block forums_menu_item %}{% endblock %}><a href="{% url forum.views.view_forum_app app_slug=app.slug %}">Forums</a></li>
        {% endif %}
        <li {% block users_menu_item %}{% endblock %}><a href="{% url profile.views.app_user_list app_slug=app.slug %}">Users</a></li>
        <li {% block settings_menu_item %}{% endblock %}><a href="{% url projects.views.settings app_slug=app.slug %}">Settings</a></li>
    </ul>
</nav>
{% endblock %}

{% block sidebar %}
<h3>{{ app.open_defects }} Open Defects</h3>
{% endblock %}