{% extends "base.html" %}
{% block extra_head %}
<link rel='stylesheet' href="{{ STATIC_URL }}sprints/css/sprints.css" type="text/css">
{% endblock extra_head %}
{% block sidebar %}
<h4>Metrics</h4>

{% endblock sidebar %}
{% block main_class %}span9{% endblock main_class %}
{% block main_content %}

<div class='span12'>
    <h3>Recent Activity</h3>
    {% for item in model_stream %}
    <div class="alert alert-success">
        <p> <img src="{% get_gravatar request.user.email 45 %}" width="45" class="img-rounded">{{ item.actor }} {{ item.verb }} {{ item.action_object_content_type }} <a href="{{ item.action_object.get_absolute_url }}">{{ item.action_object }}</a> in {{ item.target }} {{ item.timesince }} ago</p>
    </div>
    {% endfor %}
</div>

{% endblock main_content %}