{% extends "projects/base_project.html" %}
{% block dashboard_menu_item %}{% endblock %}
{% block repos_menu_item %}class="active"{% endblock %}
{% block main_content %}
<h3>Branches</h3>

<ul>
    {% for branch in branches %}
    <li><a href="{% url browser.views.switch_branch branch=branch.name %}">{{ branch.name }}</a></li>
    {% endfor %}
</ul>

<ul>
    {% for dir in trees %}
    <li><a href="{% url browser.views.view_dir app_slug=app_slug path=dir.path %}">{{ dir.name }}</li>
    
    {% endfor %}
    
    

{% for file in tree %}

<li><a href="{% url browser.views.view_file file_name=file.path %}">{{ file.name }}</a></li>

{% endfor %}
</ul>
<ul>
{% for log in log %}

<li>{{ log }}</li>
{% endfor %}
</ul>
{% endblock %}