<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/core.css" type="text/css" media="screen" />
</head>


<div id="box">
      <h1>Web App Theme</h1>
      <div class="block" id="block-login">
        <h2>Login Box</h2>
        <div class="content login">
          <div class="flash">
            {% if form.errors %}
            <div class="message notice">
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            </div>
            
          </div>
          <form method="post" action="{% url django.contrib.auth.views.login %}" class="form login">{% csrf_token %}
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">Login</label>

              </div>
              <div class="right">
                {{ form.username }}
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">Password</label>

              </div>
              <div class="right">
                {{ form.password }}
              </div>
            </div>
            <div class="group navform wat-cf">
              <div class="right">
                <button class="button" type="submit">
                <input type="hidden" name="next" value="{% url newsfeed.views.dashboard %}" />
                  <img src="images/icons/key.png" alt="Save" /> Login
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>

