{% extends "base.html" %}
{% block title %}Logged Out{% endblock %}
{% block extra_style %}
<style>
.navbar .nav,
.well,
.navbar-search
{
    display: none;
}

</style>

{% endblock %}
{% block main_content %}


       
            <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            <h4 class="alert-heading">Logged Out</h4>
            <p>You have been logged out.  <a href="{% url django.contrib.auth.views.login %}">Log In</a></p>
            </div>
            


{% endblock %}