/* Issues */

article.add_issue input[type="submit"]
{
    margin-top: 20px;
}

article.add_issue .form-inline
{
    margin-top: 20px;
}

article.add_issue .inline-field
{
    width: 300px;
    float: left;
}

article.add_issue .inline-field label
{
    display: block;
}

article.add_issue form div.form-inline select
{
    
    margin-right: 45px;
}

article.defect_detail h2
{
    margin-top: 10px;
}

article.defect_detail h2 span.label
{
    font-size: 24px;
}

article.defect_detail .btn
{
    margin-right: 8px;
}

.comments
{
    margin-top: 15px;
}

.comments .comment 
{
    border:  1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.comments .comment.even
{
    background-color: #F9F9F9;
}

.comments .comment p
{
    margin-top: 9px;
}


a#add-comment
{
    cursor: pointer;
}






