/* Issues */

article.add_issue input[type="submit"]
{
    margin-top: 20px;
}

article.add_issue .form-inline
{
    margin-top: 20px;
}

article.add_issue form div.form-inline select
{
    
    margin-right: 45px;
}

article.defect_detail h2
{
    margin-top: 10px;
}

article.defect_detail h2 span.label
{
    font-size: 24px;
}

article.defect_detail .btn
{
    margin-right: 8px;
}

