{% extends "base.html" %}
{% block main_content %}
{% load comments %}
<style>
    body {
    background-color: #FFFFFF;
}
#defect_number {
    color: #006699;
}
.data_form ul li {
    border: 0 none;
    margin-bottom: 0;
}
div.barcode {
    width: 170px;
}
div.barcode span {
    height: 60px;
    width: 10px;
}
div.barcode p {
    display: none;
}
</style>
<form id="Defect_save" name="Defect_save" action="." method="post" class="data_form">{% csrf_token %}
    <input name="id" value="118502" id="Defect_save_id" type="hidden">
    <div id="details_column"><div class="padding">
        <ul>
            <li>
                {{ form.application.errors }}
                <label for="Defect_save_systemId">System</label>
                {{ form.application }}

            </li>
            <li>
                {{ form.version.errors }}
                <label for="Defect_save_releaseId">Release
                
                </label>
                {{ form.version }}

            </li>
            <li>
                {{ form.type.errors }}
                <label for="Defect_save_type">Type</label>
                {{ form.type }}
               
            </li>
            <li>
                {{ form.priority.errors }}
                <label for="Defect_save_data_priority">Priority</label>
                {{ form.priority }}
                
            </li>

                
                
            
        </ul>
        <dl>
            
                <dt>Created By</dt>
                <dd>{{ defect.creator.first_name }} {{ defect.creator.last_name }}</dd>
            

            <dt>Creation Date</dt>
            <dd>{{ defect.creation_date }}</dd>

            <dt>Last Modified Date</dt>
            <dd>{{ defect.last_modified_date }}</dd>
        </dl>
        
        <div style="text-align:center;"><div style="width: 170px; margin: 15px auto">
            <dt><a href="https://defect.ome.ksu.edu/DefectTracker/commands/DefectCommands_getDefectLogs.action?defectId=118502">Changes Log</a></dt>
            <br><br>
            





<div class="barcode priority_1">
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="off"></span>
            
        
            <span class="off"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="off"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="off"></span>
            
        
            <span class="off"></span>
            
        
            <span class="on"></span>
            
        
            <span class="on"></span>
            
        
            <span class="off"></span>
            
        
    <p>{{ defect.id }}</p>
</div>

            
        </div></div>


    </div></div><!-- end .padding & #details_column -->

    <div id="defect_column"><div class="padding">
        <div class="state_buttons">
            <input id="Defect_save_0" value="Save &amp; Exit" class="button" type="submit">

            


            
                
                    <input class="button previous" value="Open" onclick="this.disabled=true;prevState()" type="button">
                
                
                    <input class="button next" value="Released" onclick="this.disabled=true;nextState()" type="button">
                
                
                    <input id="Defect_save_Defect_close" name="action:Defect_close" value="Close" class="button close" onclick="return confirm('Close this defect? This action is irreversible.');" type="submit">

                
            
        </div>
        <p id="defect_state" class="col_heading "><span id="defect_number">{{ defect.id }}</span> is {{ defect.get_status_display }}</p>
        {{ form.non_field_errors }}
        <ul>
            <li>
                {{ form.description.errors }}
                <label for="Defect_save_defect_description">Description</label>
                {{ form.description }}
                
            </li>
            <li>
                {{ form.url.errors }}
                <label for="Defect_save_defect_url">URL</label>
                {{ form.url }}
                
            </li>
        </ul>
        </form>
        <dl>
            <dt>Comments </dt>
            {% get_comment_list for defect as comment_list %}
            {% for comment in comment_list %}
                <div class="comment {% if forloop.counter|divisibleby:2 %} even {% else %} odd {% endif %}">
                    <div class="meta">
                        <b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b>
                        {{ comment.submit_date }}
                        <a class="delete" href="javascript:deleteComment(144547,'COMMENT')">Delete</a>
                    </div>
                    <div class="comment_text">
                        <a href="javascript:editComment(144547)">{{ comment.comment }}</a>
                    </div>
                </div>
                
            {% endfor %}
            </dl>
            {% get_comment_form for defect as comment_form %}
           <form action="{% comment_form_target %}" method="post" class="data_form comment_form">
            {% csrf_token %}
            {% for field in comment_form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                {% endif %}
            {% endif %}
        {% endfor %}
            
            <input type="hidden" name="next" value="{% url defects.views.defect_detail defect.id %}" />
        <input type="submit" name="submit" value="Add Comment">
        
        </form>


        
        <dl>
            <dt>Test Plans <a href="javascript:addComment('TESTPLAN');" class="add_link">Add</a></dt>
            
        </dl>
        <dl>
            <dt>Attachments <a href="javascript:openAddAttachmentsWindow(null)" class="add_link">Add</a> </dt>
            
        </dl>

        <dl>
            <dt>Files <a href="javascript:openAddFilesWindow(null)" class="add_link">Add</a></dt>
            
        </dl>

    </div></div><!-- end .padding & #defect_column -->


{% endblock %}