{% extends "accounts/base.html" %}
{% block head_css %}
{{ block.super }}
    <link rel='stylesheet' href="{{ STATIC_URL }}sprints/css/sprints.css">
{% endblock head_css %}
{% block main_content %}
{% block sidebar_super %}{% endblock sidebar_super %}
<h3>Backlog</h3>
<div class='btn-group'>
    <a href="#addStory" data-toggle="modal" class="btn">Add Story</a>
    <a href="#addProject" data-toggle="modal" class="btn">Add Project</a>
</div><!-- /.btn-group -->
{% load crispy_forms_tags %}
<div class="modal hide fade" id="addStory">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Story</h3>
    </div><!-- /.modal-header -->
    <form method='POST' action="{% url backlog_add_story account=account_slug %}">
        <div class="modal-body">
            {% csrf_token %}
            {% crispy story_form %}
        </div><!-- /.modal-body -->
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" value="Add Story" class="btn btn-primary">
        </div><!-- /.modal-footer -->
    </form>
</div><!-- /.modal -->
<div class="modal hide fade" id="addProject">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Project</h3>
    </div><!-- /.modal-header -->
    <form method='POST' action="{% url project_add %}">
        <div class="modal-body">
            {% csrf_token %}
            {% crispy project_form %}
        </div><!-- /.modal-body -->
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" value="Add Project" class="btn btn-primary">
        </div><!-- /.modal-footer -->
    </form>
</div><!-- /.modal -->
<table class='table table-bordered table-hover'>
    <tr>
        <th>Status</th>
        <th>Item</th>
        <th>Difficulty</th>
        <th>Ticket</th>
        <th>Project</th>
        <th>Person</th>
        <th>Action</th>
    </tr>
    {% for story in stories %}
    <tr class="story {% if story.status == 'road-blocked' or story.roadblocked %}error{% endif %}">
        <td>{% if story.status %}<span class="label {% if story.status == 'road-blocked' or story.roadblocked %}label-important{% elif story.status == 'in-progress' %}label-info{% elif story.status == 'done' %}label-success{% endif %}">{{ story.get_status_display }}</span>{% endif %}</td>
        <td><a href="{{ story.get_absolute_url }}">{{ story }}</a></td>
        <td><span class="badge {% if story.points == 13 %}badge-important{% elif story.points == 5 %}badge-warning{% elif story.points == 1 %}badge-success{% endif %}">{{ story.points }}</td>
        <td></td>
        <td>{{ story.project }}</td>
        <td>{{ story.assigned.first_name }} {{ story.assigned.last_name }}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-primary">Action</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Add to Sprint</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div><!-- /.btn-group -->
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock main_content %}