{% extends "accounts/base.html" %}
{% block extra_head %}
<link rel='stylesheet' href="{{ STATIC_URL }}sprints/css/sprints.css" type="text/css">
{% endblock extra_head %}

{% block sidebar_super %}{% endblock sidebar_super %}
{% block main_content %}
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <span class="brand">Sprint {{ sprint.start_date }} through {{ sprint.end_date }}</span>
        <ul class="nav">
            <li><a href="#addProject" data-toggle="modal">Add Project</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#addStory" data-toggle="modal">Add Story</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#addTask" data-toggle="modal">Add Task</a></li>
            <li class='divider-vertical'></li>
            <li><a href="{{ sprint.get_sprint_edit }}">Edit Sprint</a></li>
        </ul>
    </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
<div class="modal hide fade" id="addTask">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Task</h3>
    </div>
    <form method="POST" action="{{ sprint.get_task_add }}">
    <div class="modal-body">
        {% load crispy_forms_tags %}
            {% csrf_token %}
        {% crispy task_form %}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss='modal'>Close</a>
        <input type="submit" value="Add Task" class="btn btn-primary">
    </div>
    </form>
</div>

<div class="modal hide fade" id="addStory">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Story</h3>
    </div>
    <form method='POST' action="{{ sprint.get_story_add }}">
    <div class="modal-body">
        {% csrf_token %}
        {% crispy story_form %}
        <input type="hidden" name="sprint" value="{{ sprint.id }}">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <input type="submit" value="Add Story" class="btn btn-primary">
    </div>
    </form>
</div>

<div class="modal hide fade" id="addProject">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Project</h3>
    </div>
    <form method='POST' action="{% url project_add %}">
        <div class="modal-body">
            {% csrf_token %}
            {% crispy project_form %}

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" value="Add Project" class="btn btn-primary">
        </div>
    </form>
</div>

<div id='cs-sprint-switcher' class="btn-toolbar">
    <div class="btn-group" data-toggle="buttons-radio"> 
        <button id='cs-sprint-table-button' type='button' class="btn active" data-toggle="button"><i class="icon-list"></i></button>
        <button id='cs-sprint-board-button' type='button' class="btn" data-toggle="button"><i class="icon-th-large"></i></button>
    </div>
</div>

<style>
    /* super awful styles that aren't great or namespaced */
    
    .circle {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #333333;
      margin: 0 auto;
    }

    .circle-big {
      width: 30px;
      height: 30px;
    }

    .circle-med {
      width: 20px;
      height: 20px;
    }

    .circle-small {
      width: 10px;
      height: 10px;
    }

    .cs-tasks ul { margin: 0; padding:0; }
    .cs-tasks li { margin: 0; padding: 0 5px; list-style-type: none; xborder-bottom: 1px solid #bbbbbb; }
    .cs-tasks div { padding: 5px;  display: inline;}

    .add-new { float: right; margin-left: 25px; margin-top:10px;}
    .add-new a { color: #333333; font-size: 85%;}
    
    /* begin good namespaced styles */
    .cs-task-item-completed .cs-task-item-title { text-decoration: line-through; }
    

</style>

<table id='cs-sprint-table' class='table table-bordered table-hover'>
    <tr>
        <th>Points</th>
        <th>Item</th>
        <th>Status</th>
        <th>Project</th>
        <th>Person</th>
    </tr>
    {% for story in sprint.story_set.all %}
    <tr class="story {% if story.status == 'road-blocked' or story.roadblocked %}error{% endif %}" id="story_{{ story.id }}">
        <!-- Let's find a new place for this modal.  not valid markup -->
        <div class="modal hide fade" id="addTaskStory_{{ story.id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add Task</h3>
            </div>
            <form method="POST" action="{{ sprint.get_task_add }}">
                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    {% csrf_token %}
                    {% crispy story_task_form %}
                    <input type="hidden" name="story" value="{{ story.id }}">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss='modal'>Close</a>
                    <input type="submit" value="Add Task" class="btn btn-primary">
                </div>
            </form>
        </div>

        <td><div class='circle {% if story.points == 13 %}circle-big{% elif story.points == 5 %}circle-medium{% elif story.points == 1 %}circle-small{% endif %}'></div></td>
        <td>
            <a href="{{ story.get_absolute_url }}">{{ story.title }}</a>
            {% include 'sprints/tasks.html' %}
        </td>
        <td>            
            <div class="btn-group">
                <a class="btn dropdown-toggle cs-story-status-item-current {% if story.story_status.status == 'Road Blocked' or story.roadblocked %}btn-danger{% elif story.story_status.status == 'In Progress' %}btn-warning{% elif story.story_status.status == 'Done' %}btn-primary{% endif %}" data-toggle='dropdown' data-story-id='{{ story.id }}'>
                    {% if story.story_status %}
                    {{ story.story_status.status }}
                    {% else %}
                    ------
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for status in story_statuses %}
                    <li>
                        <a href="#" class='cs-story-status-item' data-story-status-id='{{ status.id }}' data-story-id='{{ story.id }}' data-value='{{ status.slug }}'>{{ status.status }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
        <td>{{ story.project }}</td>
        <td>{{ story.assigned.first_name }} {{ story.assigned.last_name }}</td>
    </tr>
    {% endfor %}

</table>

<style>
    ul.cs-sprint-board-column { margin: 0; padding:0; width: 19%; min-height: 500px; float: left; border: 1px solid #dddddd; }
    ul.cs-sprint-board-column li { margin: 10px; padding: 10px; list-style-type: none; border: 1px solid #dddddd; }

    ul.cs-sprint-board-column-header { margin: 0; padding:0; min-height: 60px; height: 60px; background-color: #f5f5f5; }
    ul.cs-sprint-board-column-header li { color: #ffffff; }

    ul#cs-sprint-board-header-not-started li { background-color: #999999;}
    ul#cs-sprint-board-header-in-progress li { background-color: #F89406;}
    ul#cs-sprint-board-header-testing li { background-color: #468847;}
    ul#cs-sprint-board-header-done li { background-color: #3A87AD;}
    ul#cs-sprint-board-header-road-blocked li { background-color: #B94A48;}
    
    .cs-story-card { clear: both;}
    .cs-story-card-points { margin: 0; padding: 0; float: left; }
    .cs-story-card-title { margin: 0 0 0 45px; }
    
    .clear { clear: both;}
    
</style>

<div id='cs-sprint-board'>
    {% regroup sprint.story_set.all by story_status as story_list %}
    
    {% for col in story_statuses %}
    <!-- Markup is placeholder... clearly shouldn't be ULs -->
    <ul id='cs-sprint-board-header-{{ col.slug }}' class='cs-sprint-board-column cs-sprint-board-column-header' data-column='{{ col.slug }}'>
        <li>{{ col.status }}</li>
    </ul>
        {% endfor %}

    {% for column in story_list %}
    <ul id='cs-sprint-board-{{ column.grouper.slug }}' class='cs-sprint-board-column cs-sprint-board-column-list' data-column='{{ column.grouper.slug }}'>
        {% for story in column.list %}
          <li id='cs-story-card_{{ story.id }}' class='cs-story-card' data-id='{{ story.id }}'>
              <h1 class='cs-story-card-points'>{{ story.points }}</h1>
              <p class='cs-story-card-title'><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></p>
              <p class='cs-story-card-title'>{{ story.task_set.all|length }} Tasks</p>
              {% include 'sprints/tasks.html' %}
              <div class='clear'></div>
          </li>
        {% endfor %}
    </ul>
    {% endfor %}

    <div class='clear'></div>
</div>

<h3>Stats</h3>
<table class="table table-bordered">
    <tr>
        <th>Stat</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Total Story Points</td>
        <td>{{ sprint.total_points }}</td>
    </tr>
    <tr>
        <td>Completed Points</td>
        <td>{{ sprint.completed_points }}</td>
    </tr>

</table>


{% endblock main_content %}

{% block extra_js %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="/static/sprints/js/sprints.js" ></script>
{% endblock %}