{% extends "base.html" %}
{% block extra_head %}
<link rel='stylesheet' href="{{ STATIC_URL }}sprints/css/sprints.css" type="text/css">
{% endblock extra_head %}
        {% block sidebar_super %}{% endblock sidebar_super %}
{% block main_content %}
<h3>Sprint {{ sprint.start_date }} through {{ sprint.end_date }}</h3>
<div class='btn-group'>
    <a href="#addStory" data-toggle="modal" class="btn">Add Story</a>
    <a href="#addTask" data-toggle="modal" class="btn">Add Task</a>
    <a href="#addProject" data-toggle="modal" class="btn">Add Project</a>
</div>
<div class="modal hide fade" id="addTask">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Task</h3>
    </div>
    <form method="POST" action="{{ sprint.get_task_add }}">
    <div class="modal-body">
        {% load crispy_forms_tags %}
            {% csrf_token %}
        {% crispy task_form %}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss='modal'>Close</a>
        <input type="submit" value="Add Task" class="btn btn-primary">
    </div>
    </form>
</div>

<div class="modal hide fade" id="addStory">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Story</h3>
    </div>
    <form method='POST' action="{{ sprint.get_story_add }}">
    <div class="modal-body">
        {% csrf_token %}
        {% crispy story_form %}
        <input type="hidden" name="sprint" value="{{ sprint.id }}">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <input type="submit" value="Add Story" class="btn btn-primary">
    </div>
    </form>
</div>

<div class="modal hide fade" id="addProject">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Project</h3>
    </div>
    <form method='POST' action="{% url project_add %}">
        <div class="modal-body">
            {% csrf_token %}
            {% crispy project_form %}

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="submit" value="Add Project" class="btn btn-primary">
        </div>
    </form>
</div>

<table class='table table-bordered table-hover'>
    <tr>
        <th>Item</th>
        <th>Story Points</th>
        <th>Status</th>
        <th>Ticket</th>
        <th>Project</th>
        <th>Person</th>
    </tr>
    {% for story in sprint.story_set.all %}
    <tr{% if story.status == 'done' %} class='success'{% elif story.status == 'road-blocked' %} class='error'{% elif story.status == 'in-progress' %} class='info'{% endif %}>
        <td><a href="{{ story.get_absolute_url }}">{{ story }}</a></td>
        <td>{{ story.points }}</td>
        <td>{% if story.status %}{{ story.get_status_display }}{% endif %}</td>
        <td></td>
        <td>{{ story.project }}</td>
        <td>{{ story.assigned.first_name }} {{ story.assigned.last_name }}</td>
    </tr>
    {% if story.task_set.all %}
    {% for task in story.task_set.all %}
    <tr {% if task.status == 'done' %}class='success' {% elif task.status == 'road-blocked' %}class='error' {% elif task.status == 'in-progress' %} class='info' {% endif %}>
        <td class='cs-row-task'><a href="{{ task.get_absolute_url }}">{{ task }}</a></td>
        <td></td>
        <td>{% if task.status %}{{ task.get_status_display }}{% endif %}</td>
        <td>{% if task.ticket %}<a href="{{ task.ticket }}">Issue</a>{% endif %}</td>
        <td>{{ story.project }}</td>
        <td>{{ task.assigned.first_name }} {{ task.assigned.last_name }}</td>
    </tr>
    {% endfor %}
    {% endif %}

    {% endfor %}

</table>

<h3>Stats</h3>
<table class="table table-bordered">
    <tr>
        <th>Stat</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Total Story Points</td>
        <td>{{ sprint.total_points }}</td>
    </tr>
    <tr>
        <td>Completed Points</td>
        <td>{{ sprint.completed_points }}</td>
    </tr>

</table>


{% endblock main_content %}